/* css styles */

/* Navbar styles */
.navbar {
    border-bottom: solid 1px #ddd;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.home-content {
    max-width:1200px;
}

/* Splash styles */
.splash {
    padding-top: 0em !important;
    border-bottom: solid 1px #ddd;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

.splash h1 { 
    margin-top: 0.5em;
    font-size: 2.4em;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.splash-secondary {
    font-size: 1.6em;
    line-height: 1.3em;   
}

.splash-tertiary {
    font-size: 1.1em;
    color: #666;
    margin-top: 0.2em;
}   

/* Projects Styles */
.project {
    margin-bottom: 1em;
}

.project .project-links {
    margin-top: 0.3em;
    padding-left: 0.4em;
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 0.2em;
}

.project .project-links .bi:hover {
    opacity: 1;
    color: var(--quarto-link-color);
}

.project .project-links .bi {
    margin-right: .1em;
    color: black;
    font-size: 0.8em;
    opacity: 0.6;
}

.project .project-links a {
    padding-left: 0;
    text-decoration: none;
}

.project .project-title {
    font-weight: bold;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: baseline
}

.project .project-title > a {
    text-decoration: none;
}

.project .project-desc {
    font-size: 0.9em;
}

.project-separator {
    padding-left: 60px;
    padding-right: 60px;
}

.project-separator > h2 {
    margin-top: 1rem;
    text-decoration: none;
    border-bottom: none;
    margin-bottom: 0;
    font-size: 1.2em;
}



/* Contact Page Styles */
.quarto-about-jolla h1 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

/* Team Listing Styles */
.team-member {
    margin-bottom: 2em;
}

.team-member .team-title {
    display:grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: auto auto;
    column-gap: 0.3em;
    align-items: baseline;
}

.team-member .team-name {
    font-weight: bold;
    font-size: 1.2em;
    color: black
}

.team-member .team-role {
    color: #666;
    font-size: 0.8em;
    grid-column: -1/1;
}

.team-member .team-links {
    margin-left: 0.2em;
    display: flex;
    gap: 0.3em;
    justify-self: end;
}

.team-member .team-links .bi {
    color: black;
    opacity: 0.6;
    font-size: 0.9em;
}

.team-member .team-links .bi:hover {
    opacity: 1;
    color: var(--quarto-link-color);
}



/* Contact page styles */
#title-block-header {
    margin-bottom: 0 !important;
}

#quarto-document-content {
    margin-top: 0 !important;
}

body {
    font-size: 0.9em;
}

a {
    text-decoration: none;
}