/* css styles */

.splash {
    font-size: 2.5rem;    
}

.splash-text {
    line-height: 1.3;
    padding-left: 4rem;
    padding-right: 4rem;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
}

.splash-text h1 {
    font-size: 2em;
}

@media (max-width: 768px) {
  .splash-image {
    display: none;
  }

  .splash {
    font-size: 1.6rem; 
  }

  .splash-text {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.splash-image {
    width: 180px;
    height: auto;
}

.team-member {
    margin-bottom: 2em;
}

.team-member .team-title {
    display:grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: auto auto;
    column-gap: 0.3em;
    align-items: baseline;
}

.team-member .team-name {
    font-weight: bold;
    font-size: 1.2em;
}

.team-member .team-role {
    color: #666;
    font-size: 0.8em;
    grid-column: -1/1;
}

.team-member .team-links {
    display: flex;
    gap: 0.3em;
    justify-self: end;
}

.project {
    margin-bottom: 2em;
}

.project .project-links {
    margin-top: 0.3em;
    padding-left: 1em;
    display: grid;
    grid-template: repeat(auto-fit, minmax(150px, 1fr) );
    row-gap: 0.2em;
}

.project .project-links .bi {
    margin-right: .2em;
}

.project .project-links a {
    padding-left: 0;
    text-decoration: none;
}

.project .project-title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}